#header{
	font-family: Baskerville, Georgia, "Liberation Serif", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, TW\-Kai, serif;
	color:white;
	padding-top: 50px;
	padding-left: 120px;
	display: none;
}
#content{
	padding-left: 400px;
	padding-right: 200px;
	padding-top: 50px;
	display: none;
	width: 560px;
}

.nav{
	font-size: 50px;
	padding-left: 35px;
	padding-right: 35px;
}

.slide-item{
	padding-left: 400px;
	position: absolute;
}

.description{
	font-family: Baskerville, Georgia, "Liberation Serif", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, TW\-Kai, serif;
	position: relative;
	top: -100px;
	height: 60px;
	background-color: white;
	opacity: 0.5;
	padding-left: 40px;
}			
.description .title{
	font-size: 30px;
	font-weight: bold;
}			
.description .words{
	font-size: 16px;
}

#comment{
	padding-top: 500px;
	color:white;
	padding-left: 155px;
	padding-right: 155px; 
	display: none;
}

#comments{
	font-family: Baskerville, Georgia, "Liberation Serif", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, TW\-Kai, serif;	
	margin: 14px 0;
	font-size:30px;
	line-height: 1.5em;
	border-bottom: 1px solid #eee;
}

#view{
	font-size: 20px;
	line-height: 35px;
	float: right;
	margin-bottom:15%;
	position: relative;
	font-weight: 400;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	cursor: pointer;	
}

#view:hover{
	font-style:oblique; 
}

.comments-item{

}

.comments-item li{
	padding-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
}
.comments-username{
	text-align: center;
	font-family: Baskerville, Georgia, "Liberation Serif", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, TW\-Kai, serif;	
	font-size: 16px; 
}
.comments-part{
	display: inline-block;
}

.comments-content{
	padding-left: 50px;
	position: relative;
	top: -85px;
	font-size: 25px;
	font-family: Baskerville, Georgia, "Liberation Serif", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, TW\-Kai, serif;	
}

a.next,
a.previous,
a.play,
a.stop {
	background-image: url(../img/btns-next-prev.png);
	background-repeat: no-repeat;
	display:block;
	width:12px;
	height:18px;
	overflow: hidden;
	text-indent: -9999px;
	float: left;
	margin-right:5px;
	position: relative;
	top: 475px;
	cursor: pointer;
}

a.next {
  margin-right:10px;
  background-position: -12px 0;
}

a:hover.next {
  background-position: -12px -18px;
}

a.previous {
  background-position: 0 0;
}

a:hover.previous {
  background-position: 0 -18px;
}

a.play {
  width:15px;
  background-position: -25px 0;
}

a:hover.play {
  background-position: -25px -18px;
}

a.stop {
  width:18px;
  background-position: -41px 0;
}

a:hover.stop {
  background-position: -41px -18px;
}

.pagination {
  margin: 7px 0 0;
  float: right;
  list-style: none;
}

.pagination li {
  float: left;
  margin: 0 1px;
}

.pagination li a {
	display: block;
	width: 13px;
	height: 0;
	padding-top: 13px;
	background-image: url(../img/pagination.png);
	background-position: 0 0;
	float: left;
	overflow: hidden;position: relative;
	top: 475px;
	cursor: pointer;
}

.pagination li a.active,
.pagination li a:hover.active {
  background-position: 0 -13px
}

.pagination li a:hover {
  background-position: 0 -26px
}

#pre{
	display: inline-block;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
}

#pre:hover{
	font-style:oblique; 
}

#next{
	display: inline-block;
	float: right;
	color: white;
}

#next:hover{
	font-style:oblique; 
}